.header{
    background-color: var(--white);
    padding: 16px 5%;
    display: flex;
    align-items: center;
    background-color: var(--white);
}
/*------ Logo ------*/
.header .logo{
    cursor: pointer;
    width: 50px;
}

/*------ Searcher ------*/
.searcher-icons{
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1 1 auto;
}
.searcher{
    flex: 1 1 auto;
}

/*------ Shopping cart ------*/
.shopping-cart{
    position: relative;
}
.shop-number{
    color: var(--white);
    background-color: var(--pink);
    padding: 1px 3px;
    margin: 0;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    right: 5px;
    top: 5px;
}

/*------ Menu ------*/
.menu-icon{
    cursor: pointer;
}

/*------ NavBar ------*/
.navBar{
    display: none;
}
.navBar ul{
    list-style: none;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.navBar ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: var(--text-normal);
    color: var(--blue);
    line-height: 32px;
}

@media (min-width: 768px) {
    .navBar{
        display: block;
    }
    .menu-icon{
        opacity: 0;
    }
} 