*{
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root{
  --blue: rgb(21, 24, 117);
  --pink: rgb(251, 46, 134);
  --white: rgb(255, 255, 255);
  --black: rgb(17, 17, 17);
  --gray: rgb(138, 143, 185);
  --text-small: 1.4rem;
  --text-normal: 1.6rem;
  --text-medium: 2rem;
  --text-big: 3rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(235, 235, 235);
}